<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
	<extension-point id="expressionLanguagesExtension" name="Expression Languages Extension" schema="schema/expressionLanguagesExtension.exsd"/>

	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri="http://www.storydriven.org/core/0.2.0"
			class="org.storydriven.core.CorePackage"
			genModel="model/core.uml.genmodel"/>
		<package
			uri="http://www.storydriven.org/core/expressions/0.2.0"
			class="org.storydriven.core.expressions.ExpressionsPackage"
			genModel="model/core.uml.genmodel"/>
	</extension>



</plugin>
