<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
	<extension-point id="expressionLanguagesExtension" name="Expression Languages Extension" schema="schema/expressionLanguagesExtension.exsd"/>

	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri="http://www.storydriven.org/core/0.3.1"
			class="org.storydriven.core.CorePackage"
			genModel="model/core.uml.genmodel"/>
		<package
			uri="http://www.storydriven.org/core/expressions/0.3.1"
			class="org.storydriven.core.expressions.ExpressionsPackage"
			genModel="model/core.uml.genmodel"/>
  <package
        class="org.storydriven.core.expressions.common.CommonExpressionsPackage"
        genModel="model/core.uml.genmodel"
        uri="http://www.storydriven.org/core/expressions/common/0.3.1">
  </package>
	</extension>



</plugin>
