<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>

   <extension-point id="expressionSourceViewerExtension" name="Expression Source Viewer Extension" schema="schema/expressionSourceViewerExtension.exsd"/>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="org.storydriven.storydiagrams.diagram.custom.providers.CustomSDMEditPartProvider">
         <Priority
               name="Low">
         </Priority>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.storydriven.storydiagrams.diagram.custom.StopNodeContribution"
            objectClass="org.storydriven.storydiagrams.diagram.edit.parts.StopNodeEditPart">
         <action
               class="org.storydriven.storydiagrams.diagram.custom.edit.commands.StopNodeToggleFlowCommand"
               id="org.storydriven.storydiagrams.diagram.custom.StopNodeToggleFlowCommand"
               label="Toggle end flow Attribute"
               tooltip="This will toggle they isKey Attribute of the Attribute.">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.storydriven.storydiagrams.diagram.custom.ModifyingStoryNodeContribution"
            objectClass="org.storydriven.storydiagrams.diagram.edit.parts.ModifyingStoryNodeEditPart">
         <action
               class="org.storydriven.storydiagrams.diagram.custom.edit.commands.StoryNodeToggleForEachCommand"
               id="org.storydriven.storydiagrams.diagram.custom.ModifyingStoryNodeToogleForEachCommand"
               label="Toggle forEach"
               tooltip="This will toggle the for each attribute of the story node.">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.storydriven.storydiagrams.diagram.custom.MatchingStoryNodeContribution"
            objectClass="org.storydriven.storydiagrams.diagram.edit.parts.MatchingStoryNodeEditPart">
         <action
               class="org.storydriven.storydiagrams.diagram.custom.edit.commands.StoryNodeToggleForEachCommand"
               id="org.storydriven.storydiagrams.diagram.custom.MatchingStoryNodeToogleForEachCommand"
               label="Toggle forEach"
               tooltip="This will toggle the for each attribute of the story node.">
         </action>
         <action
               class="deprecated.MatchingStoryNodeToggleModifyingCommand"
               id="org.storydriven.storydiagrams.diagram.custom.MatchingStoryNodeConvertToModifying"
               label="Toggle Modifying/Matching"
               tooltip="This will toggle whether the storynode is matching or modifying">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.storydriven.storydiagrams.diagram.custom.expressions.OpenExpressionsDialog"
            objectClass="org.storydriven.storydiagrams.diagram.edit.parts.ObjectVariableEditPart">
         <action
               class="org.storydriven.storydiagrams.diagram.custom.expressions.EditExpressionWithDialogAction"
               id="org.storydriven.storydiagrams.diagram.custom.expressions.OpenExpressionsDialog"
               label="Edit Expressions"
               tooltip="This will toggle whether the storynode is matching or modifying">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.storydriven.storydiagrams.diagram.custom.expressions.OpenExpressionsDialogForAttributeAssignment"
            objectClass="org.storydriven.storydiagrams.diagram.edit.parts.AttributeAssignmentEditPart">
         <action
               class="org.storydriven.storydiagrams.diagram.custom.expressions.EditAttributeAssignmentWithDialogAction"
               id="org.storydriven.storydiagrams.diagram.custom.expressions.OpenExpressionsDialogForAttributeAssignment"
               label="Edit Attribute Assignment"
               tooltip="This will toggle whether the storynode is matching or modifying">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.storydriven.storydiagrams.diagram.custom.ActivityEdgeGuardContribution"
            objectClass="org.storydriven.storydiagrams.diagram.edit.parts.ActivityEdgeEditPart">
         <menu
               id="ActivityEdgeGuardMenu"
               label="Activity Edge Guard">
            <separator
                  name="GuardGroup">
            </separator>
         </menu>
         <action
               class="org.storydriven.storydiagrams.diagram.custom.edit.commands.SetActivityEdgeGuardTypeAction"
               id="org.storydriven.storydiagrams.diagram.custom.ActicityEdgeGuardMenuEntry.FINALLY"
               label="finally"
               menubarPath="ActivityEdgeGuardMenu/GuardGroup"
               style="radio"
               tooltip="This will toggle they isKey Attribute of the Attribute.">
         </action>
         <action
               class="org.storydriven.storydiagrams.diagram.custom.edit.commands.SetActivityEdgeGuardTypeAction"
               id="org.storydriven.storydiagrams.diagram.custom.ActicityEdgeGuardMenuEntry.BOOL"
               label="bool"
               menubarPath="ActivityEdgeGuardMenu/GuardGroup"
               style="radio"
               tooltip="This will toggle they isKey Attribute of the Attribute.">
         </action>
         <action
               class="org.storydriven.storydiagrams.diagram.custom.edit.commands.SetActivityEdgeGuardTypeAction"
               id="org.storydriven.storydiagrams.diagram.custom.ActicityEdgeGuardMenuEntry.END"
               label="end"
               menubarPath="ActivityEdgeGuardMenu/GuardGroup"
               style="radio"
               tooltip="This will toggle they isKey Attribute of the Attribute.">
         </action>
         <action
               class="org.storydriven.storydiagrams.diagram.custom.edit.commands.SetActivityEdgeGuardTypeAction"
               id="org.storydriven.storydiagrams.diagram.custom.ActicityEdgeGuardMenuEntry.FAILURE"
               label="failure"
               menubarPath="ActivityEdgeGuardMenu/GuardGroup"
               style="radio"
               tooltip="This will toggle they isKey Attribute of the Attribute.">
         </action>
         <action
               class="org.storydriven.storydiagrams.diagram.custom.edit.commands.SetActivityEdgeGuardTypeAction"
               id="org.storydriven.storydiagrams.diagram.custom.ActicityEdgeGuardMenuEntry.EACH_TIME"
               label="each time"
               menubarPath="ActivityEdgeGuardMenu/GuardGroup"
               style="radio"
               tooltip="This will toggle they isKey Attribute of the Attribute.">
         </action>
         <action
               class="org.storydriven.storydiagrams.diagram.custom.edit.commands.SetActivityEdgeGuardTypeAction"
               id="org.storydriven.storydiagrams.diagram.custom.ActicityEdgeGuardMenuEntry.SUCCESS"
               label="success"
               menubarPath="ActivityEdgeGuardMenu/GuardGroup"
               style="radio"
               tooltip="This will toggle they isKey Attribute of the Attribute.">
         </action>
         <action
               class="org.storydriven.storydiagrams.diagram.custom.edit.commands.SetActivityEdgeGuardTypeAction"
               id="org.storydriven.storydiagrams.diagram.custom.ActicityEdgeGuardMenuEntry.NONE"
               label="none"
               menubarPath="ActivityEdgeGuardMenu/GuardGroup"
               style="radio"
               tooltip="This will toggle they isKey Attribute of the Attribute.">
         </action>
         <action
               class="org.storydriven.storydiagrams.diagram.custom.edit.commands.SetActivityEdgeGuardTypeAction"
               id="org.storydriven.storydiagrams.diagram.custom.ActicityEdgeGuardMenuEntry.ELSE"
               label="else"
               menubarPath="ActivityEdgeGuardMenu/GuardGroup"
               style="radio"
               tooltip="This will toggle they isKey Attribute of the Attribute.">
         </action>
         <action
               class="org.storydriven.storydiagrams.diagram.custom.edit.commands.SetActivityEdgeGuardTypeAction"
               id="org.storydriven.storydiagrams.diagram.custom.ActicityEdgeGuardMenuEntry.EXCEPTION"
               label="exception"
               menubarPath="ActivityEdgeGuardMenu/GuardGroup"
               style="radio"
               tooltip="This will toggle they isKey Attribute of the Attribute.">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.storydriven.storydiagrams.diagram.custom.ActivityEdgeGuardExpressionContribution"
            objectClass="org.storydriven.storydiagrams.diagram.edit.parts.ActivityEdgeEditPart">
         <action
               class="org.storydriven.storydiagrams.diagram.custom.expressions.EditActivityEdgeGuardExpressionWithDialogAction"
               id="org.storydriven.storydiagrams.diagram.custom.ActicityEdgeGuardExpressionEdit"
               label="Edit Guard Expression"
               tooltip="This will toggle they isKey Attribute of the Attribute.">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.storydriven.storydiagrams.diagram.custom.StatementNodeEditExpression"
            objectClass="org.storydriven.storydiagrams.diagram.edit.parts.StatementNodeEditPart">
         <action
               class="org.storydriven.storydiagrams.diagram.custom.expressions.EditStatementExpressionWithDialogAction"
               id="org.storydriven.storydiagrams.diagram.custom.StatementNodeEditExpression"
               label="Edit Statement Expression"
               tooltip="This will toggle they isKey Attribute of the Attribute.">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.storydriven.storydiagrams.diagram.custom.expressions.StopNodeReturnExpression"
            objectClass="org.storydriven.storydiagrams.diagram.edit.parts.StopNodeEditPart">
         <action
               class="org.storydriven.storydiagrams.diagram.custom.expressions.EditStopNodeReturnExpressionAction"
               id="org.storydriven.storydiagrams.diagram.custom.expressions.EditStopNodeReturnExpression"
               label="Edit Return Value Expression"
               tooltip="This will toggle whether the storynode is matching or modifying">
         </action>
      </objectContribution>
   </extension>

   <extension id="creation-wizard" point="org.eclipse.ui.newWizards">
      <wizard
            category="de.fujaba/de.fujaba.diagrams"
            class="org.storydriven.storydiagrams.diagram.custom.part.CustomActivityDiagramCreationWizard"
            id="de.uni_paderborn.fujaba.muml.atomiccomponenteditor.diagram.custom.part.CustomAtomiccomponentDiagramCreationWizard"
            name="Activity Diagram">
         <description>
            Creates a new Activity Diagram.
         </description>
      </wizard>
   </extension>

    <extension point="org.eclipse.ui.menus">
	   <menuContribution
	         allPopups="false"
	         locationURI="popup:de.fujaba?after=additions">
	      <command
             commandId="org.storydriven.storydiagrams.diagram.createDiagram"
             icon="icons/objects16/ActivitiesDiagramFile.gif"
             id="org.storydriven.storydiagrams.diagram.createDiagram"
             label="%initDiagramActionLabel"
             style="push">
	         <visibleWhen
	               checkEnabled="false">
	            <reference
	                  definitionId="de.fujaba.expression.fujabafile">
	            </reference>
	         </visibleWhen>
	      </command>
	   </menuContribution>
	</extension>

    <extension point="org.eclipse.ui.commands">
		<command
			categoryId="de.fujaba"
			description="Initialize SDM Diagram"
			defaultHandler="org.storydriven.storydiagrams.diagram.custom.part.SDMFujabaDiagramFileAction"
			id="org.storydriven.storydiagrams.diagram.createDiagram"
			name="%initDiagramActionLabel">
		</command>
	</extension>

    <extension point="de.fujaba.modelinstance.modelelementcategory">
      <category
            key="org.storydrivening.activities.category"
            name="activities">
         <child
               class="StartNode"
               packageNsUri="http://ns.storydriven.org/sdm/activities/0.1.0">
         </child>
         <child
               class="StopNode"
               packageNsUri="http://ns.storydriven.org/sdm/activities/0.1.0">
         </child>
         <child
               class="JunctionNode"
               packageNsUri="http://ns.storydriven.org/sdm/activities/0.1.0">
         </child>
         <child
               class="StatementNode"
               packageNsUri="http://ns.storydriven.org/sdm/activities/0.1.0">
         </child>
         <child
               class="StructuredNode"
               packageNsUri="http://ns.storydriven.org/sdm/activities/0.1.0">
         </child>
         <child
               class="ModifyingStoryNode"
               packageNsUri="http://ns.storydriven.org/sdm/activities/0.1.0">
         </child>
      </category>
   </extension>

   <extension point="de.fujaba.newwizard.diagraminformation">
      <editor
            preferencesHint="org.storydriven.storydiagrams.diagram"
            editorId="org.storydriven.storydiagrams.diagram.part.SDMDiagramEditorID"
            editorName="SDM Editor"
            fileExtension="sdm_diagram"
            modelElementCategoryKey="org.storydrivening.activities.category"
            modelId="SDM">
         <diagramElement
               packageNsURI="http://ns.storydriven.org/sdm/activities/0.1.0"
               className="Activity">
         </diagramElement>
         <node
               domainElement="StartNode"
               semanticHint="2001">
         </node>
         <node
               domainElement="StopNode"
               semanticHint="2002">
         </node>
         <node
               domainElement="JunctionNode"
               semanticHint="2003">
         </node>
         <node
               domainElement="StatementNode"
               semanticHint="2004">
         </node>
         <node
               domainElement="StructuredNode"
               semanticHint="2005">
         </node>
         <node
               domainElement="ModifyingStoryNode"
               semanticHint="2007">
         </node>
         <node
               domainElement="TextualExpression"
               semanticHint="3015">
         </node>
         <node
               domainElement="JunctionNode"
               semanticHint="3001">
         </node>
         <node
               domainElement="StartNode"
               semanticHint="3002">
         </node>
         <node
               domainElement="StopNode"
               semanticHint="3004">
         </node>
         <node
               domainElement="StatementNode"
               semanticHint="3003">
         </node>
         <node
               domainElement="StructuredNode"
               semanticHint="3005">
         </node>
         <node
               domainElement="ModifyingStoryNode"
               semanticHint="3011">
         </node>
         <node
               domainElement="StoryPattern"
               semanticHint="3008">
         </node>
         <node
               domainElement="ObjectVariable"
               semanticHint="3012">
         </node>
         <node
               domainElement="AttributeAssignment"
               semanticHint="3013">
         </node>
         <node
               domainElement="PrimitiveVariable"
               semanticHint="3014">
         </node>
      </editor>
   </extension>

</plugin>
