<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.storydriven.modeling.editor.gef.editor.SDMEditor"
            contributorClass="org.fujaba.commons.editor.CommonMultiPageEditorActionBarContributor"
            default="true"
            extensions="diagrams, ecore"
            filenames="ecore.diagrams, ecore"
            icon="icons/diagram_sdd.gif"
            id="org.fujaba.sdm.ui.editor"
            name="Story Diagram Editor">
      </editor>
   </extension>
   <extension
         point="org.fujaba.commons.palettes">
      <palette
            editor="org.storydriven.modeling.editor.gef.editor.SDMActivityPage"
            id="org.fujaba.sdm.ui.palette">
         <containerRef
               containerID="org.fujaba.sdm.ui.nodecontainer">
         </containerRef>
         <containerRef
               containerID="org.fujaba.sdm.ui.linkcontainer"
               prevContainerIDs="org.reclipse.structure.specification.ui.nodePaletteContainer">
         </containerRef>
         <containerRef
               containerID="org.fujaba.sdm.ui.constraintcontainer"
               prevContainerIDs="org.fujaba.sdm.ui.linkcontainer">
         </containerRef>
      </palette>
   </extension>
   <extension
         point="org.fujaba.commons.paletteContainer">
      <paletteContainer
            icon="icons/nodes.png"
            id="org.fujaba.sdm.ui.nodecontainer"
            label="Nodes">
         <entryRef
               entryID="org.fujaba.sdm.ui.palette.stop">
         </entryRef>
         <entryRef
               entryID="org.fujaba.sdm.ui.palette.story"
               prevEntryIDs="org.fujaba.sdm.ui.palette.stop">
         </entryRef>
         <entryRef
               entryID="org.fujaba.sdm.ui.palette.junction"
               prevEntryIDs="org.fujaba.sdm.ui.palette.story">
         </entryRef>
         <entryRef
               entryID="org.fujaba.sdm.ui.palette.statement"
               prevEntryIDs="org.fujaba.sdm.ui.palette.activitycall">
         </entryRef>
         <entryRef
               entryID="org.fujaba.sdm.ui.palette.object"
               prevEntryIDs="org.fujaba.sdm.ui.palette.statement">
         </entryRef>
         <entryRef
               entryID="org.fujaba.sdm.ui.palette.objectset"
               prevEntryIDs="org.fujaba.sdm.ui.palette.object">
         </entryRef>
         <entryRef
               entryID="org.fujaba.sdm.ui.palette.primitive"
               prevEntryIDs="org.fujaba.sdm.ui.palette.objectset">
         </entryRef>
         <entryRef
               entryID="org.fujaba.sdm.ui.palette.activitycall"
               prevEntryIDs="org.fujaba.sdm.ui.palette.junction">
         </entryRef>
      </paletteContainer>
      <paletteContainer
            icon="icons/edges.png"
            id="org.fujaba.sdm.ui.linkcontainer"
            label="Edges">
         <entryRef
               entryID="org.fujaba.sdm.ui.palette.link"
               prevEntryIDs="org.fujaba.sdm.ui.palette.activityedge">
         </entryRef>
         <entryRef
               entryID="org.fujaba.sdm.ui.palette.activityedge">
         </entryRef>
         <entryRef
               entryID="org.fujaba.sdm.ui.palette.path"
               prevEntryIDs="org.fujaba.sdm.ui.palette.link">
         </entryRef>
      </paletteContainer>
      <paletteContainer
            icon="icons/editConstraint16.gif"
            id="org.fujaba.sdm.ui.constraintcontainer"
            label="Expressions">
         <entryRef
               entryID="org.fujaba.sdm.ui.palette.bindingExpression">
         </entryRef>
         <entryRef
               entryID="org.fujaba.sdm.ui.palette.constraint"
               prevEntryIDs="org.fujaba.sdm.ui.palette.bindingExpression">
         </entryRef>
      </paletteContainer>
   </extension>
   <extension
         point="org.fujaba.commons.paletteEntries">
      <paletteEntry
            icon16="icons/editLink16.png"
            id="org.fujaba.sdm.ui.palette.link"
            label="Link"
            product="org.storydriven.modeling.patterns.impl.LinkVariableImpl"
            tooltip="Create a new Link"
            type="connection">
      </paletteEntry>
      <paletteEntry
            icon16="icons/newstop16.gif"
            id="org.fujaba.sdm.ui.palette.stop"
            label="Stop Node"
            product="org.storydriven.modeling.activities.impl.StopNodeImpl"
            tooltip="Create a Stop Node"
            type="element">
      </paletteEntry>
      <paletteEntry
            icon16="icons/newstory16.gif"
            id="org.fujaba.sdm.ui.palette.story"
            label="Story Node"
            product="org.storydriven.modeling.activities.impl.ModifyingStoryNodeImpl"
            tooltip="Create a new Story Pattern"
            type="element">
      </paletteEntry>
      <paletteEntry
            icon16="icons/editObject16.gif"
            id="org.fujaba.sdm.ui.palette.object"
            label="Object Variable"
            product="org.storydriven.modeling.patterns.impl.ObjectVariableImpl"
            tooltip="Create a new Object Variable"
            type="element">
      </paletteEntry>
      <paletteEntry
            icon16="icons/editObject16.gif"
            id="org.fujaba.sdm.ui.palette.objectset"
            label="Object Set Variable"
            product="org.storydriven.modeling.patterns.impl.ObjectSetVariableImpl"
            tooltip="Create a new Object Set Variable"
            type="element">
      </paletteEntry>
      <paletteEntry
            icon16="icons/newnop16.gif"
            id="org.fujaba.sdm.ui.palette.junction"
            label="Junction Node"
            product="org.storydriven.modeling.activities.impl.JunctionNodeImpl"
            type="element">
      </paletteEntry>
      <paletteEntry
            id="org.fujaba.sdm.ui.palette.statement"
            label="Statement"
            product="org.storydriven.modeling.activities.impl.StatementNodeImpl"
            tooltip="Create a new Statement"
            type="element">
      </paletteEntry>
      <paletteEntry
            icon16="icons/editTransition16.gif"
            id="org.fujaba.sdm.ui.palette.activityedge"
            label="Control Flow Transition"
            product="org.storydriven.modeling.activities.impl.ActivityEdgeImpl"
            tooltip="Create a new Control Flow Transition"
            type="connection">
      </paletteEntry>
      <paletteEntry
            id="org.fujaba.sdm.ui.palette.path"
            label="Path"
            product="org.storydriven.modeling.patterns.impl.PathImpl"
            tooltip="Create a new Path"
            type="connection">
      </paletteEntry>
      <paletteEntry
            icon16="icons/editObject16.gif"
            id="org.fujaba.sdm.ui.palette.primitive"
            label="Primitve Variable"
            product="org.storydriven.modeling.patterns.impl.PrimitiveVariableImpl"
            tooltip="Create a new Primitive Variable"
            type="element">
      </paletteEntry>
      <paletteEntry
            id="org.fujaba.sdm.ui.palette.activitycall"
            label="Activity Call"
            product="org.storydriven.modeling.activities.impl.ActivityCallNodeImpl"
            tooltip="Create a new Activity Call"
            type="element">
      </paletteEntry>
      <paletteEntry
            icon16="icons/editConstraint16.gif"
            id="org.fujaba.sdm.ui.palette.bindingExpression"
            label="Binding Expression"
            product="org.storydriven.modeling.expressions.impl.TextualExpressionImpl"
            type="element">
      </paletteEntry>
      <paletteEntry
            icon16="icons/editConstraint16.gif"
            id="org.fujaba.sdm.ui.palette.constraint"
            label="Constraint"
            product="org.storydriven.modeling.patterns.impl.ConstraintImpl"
            tooltip="Create a new Constraint"
            type="element">
      </paletteEntry>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.fujaba.sdm.ui.property.contributor"
            labelProvider="org.storydriven.modeling.editor.gef.properties.SDMTabbedPropertiesLabelProvider">
         <propertyCategory
               category="model"></propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.fujaba.sdm.ui.property.contributor">
         <propertyTab
               category="model"
               id="org.fujaba.sdm.ui.property.tab.model"
               label="Model">
         </propertyTab>
         <propertyTab
               afterTab="org.fujaba.sdm.ui.property.tab.model"
               category="advanced"
               id="org.fujaba.sdm.ui.property.tab.advanced"
               label="Advanced">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.fujaba.sdm.ui.property.contributor">
         <propertySection
               class="org.fujaba.commons.properties.section.AdvancedSection"
               filter="org.eclipse.jface.viewers.AcceptAllFilter"
               id="org.fujaba.sdm.ui.property.section.advanced"
               tab="org.fujaba.sdm.ui.property.tab.advanced">
         </propertySection>
         <propertySection
               class="org.storydriven.modeling.editor.gef.properties.sections.NameSection"
               filter="org.storydriven.modeling.editor.gef.properties.sections.SectionFilters$NamedElementFilter"
               id="sdm.section.name"
               tab="org.fujaba.sdm.ui.property.tab.model">
         </propertySection>
         <propertySection
               class="org.storydriven.modeling.editor.gef.properties.sections.ActivityCallNodeCalleSelectionSection"
               filter="org.storydriven.modeling.editor.gef.properties.sections.SectionFilters$ActivityCallNodeFilter"
               id="sdm.section.activitycallnode.callee"
               tab="org.fujaba.sdm.ui.property.tab.model">
         </propertySection>
         <propertySection
               class="org.storydriven.modeling.editor.gef.properties.sections.ConstraintExpressionSection"
               filter="org.storydriven.modeling.editor.gef.properties.sections.SectionFilters$ConstraintExpressionFilter"
               id="sdm.section.constraint.expression"
               tab="org.fujaba.sdm.ui.property.tab.model">
         </propertySection>
         <propertySection
               class="org.storydriven.modeling.editor.gef.properties.sections.ActivityEdgeGuardExpressionSection"
               filter="org.storydriven.modeling.editor.gef.properties.sections.SectionFilters$ActivityEdgeExpressionGuardFilter"
               id="sdm.section.activityedge.guardexpression"
               tab="org.fujaba.sdm.ui.property.tab.model">
         </propertySection>
         <propertySection
               class="org.storydriven.modeling.editor.gef.properties.sections.StopNodeReturnExpressionSection"
               filter="org.storydriven.modeling.editor.gef.properties.sections.SectionFilters$StopNodeReturnExpressionFilter"
               id="sdm.section.stopnode.returnexpression"
               tab="org.fujaba.sdm.ui.property.tab.model">
         </propertySection>
         <propertySection
               class="org.storydriven.modeling.editor.gef.properties.sections.ObjectVariableTypeSection"
               filter="org.storydriven.modeling.editor.gef.properties.sections.SectionFilters$ObjectVariableFilter"
               id="sdm.section.abstractvariable.type"
               tab="org.fujaba.sdm.ui.property.tab.model">
         </propertySection>
         <propertySection
               class="org.storydriven.modeling.editor.gef.properties.sections.LinkVariableTypeSection"
               filter="org.storydriven.modeling.editor.gef.properties.sections.SectionFilters$LinkVariableFilter"
               id="sdm.section.linkvariable.type"
               tab="org.fujaba.sdm.ui.property.tab.model">
         </propertySection>
         <propertySection
               afterSection="sdm.section.activitycallnode.callee"
               class="org.storydriven.modeling.editor.gef.properties.sections.ActivityCallNodeCalleeInParametersSection"
               filter="org.storydriven.modeling.editor.gef.properties.sections.SectionFilters$ActivityCallNodeFilter"
               id="sdm.section.activitycallnode.parameterBinding.in"
               tab="org.fujaba.sdm.ui.property.tab.model">
         </propertySection>
         <propertySection
               afterSection="sdm.section.activitycallnode.parameterBinding.in"
               class="org.storydriven.modeling.editor.gef.properties.sections.ActivityCallNodeOutParameterSection"
               filter="org.storydriven.modeling.editor.gef.properties.sections.SectionFilters$ActivityCallNodeFilter"
               id="sdm.section.activitycallnode.parameterBinding.out"
               tab="org.fujaba.sdm.ui.property.tab.model">
         </propertySection>
      </propertySections>
   </extension>

</plugin>
