<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.storydriven.core.expressionLanguage">
		<language
			name="OCL"
			version="1.0"/>
   </extension>
  
	<extension point="org.storydriven.core.ui.expressionEditor">
		<editor
			class="org.storydriven.core.ui.ocl.editor.OclExpressionEditor"
			language="OCL" version="1.0"/>
	</extension>
</plugin>
