<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.storydriven.org/storydiagrams/interpreter/tests"
            class="org.storydriven.storydiagrams.interpreter.tests.TestsPackage"
            genModel="model/tests.xcore"/>
   </extension>
   <extension
         point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            class="org.storydriven.storydiagrams.interpreter.tests.provider.CustomTestsItemProviderAdapterFactory"
            uri="http://www.storydriven.org/storydiagrams/interpreter/tests"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource">
      </factory>
   </extension>

</plugin>
