<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="org.storydriven.modeling.diagram.custom.providers.CustomSDMEditPartProvider">
         <Priority
               name="Low">
         </Priority>
      </editpartProvider>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.storydriven.modeling.diagram.custom.StopNodeContribution"
            objectClass="org.storydriven.modeling.diagram.edit.parts.StopNodeEditPart">
         <action
               class="org.storydriven.modeling.diagram.custom.edit.commands.StopNodeToggleFlowCommand"
               id="org.storydriven.modeling.diagram.custom.StopNodeToggleFlowCommand"
               label="Toggle end flow Attribute"
               tooltip="This will toggle they isKey Attribute of the Attribute.">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.storydriven.modeling.diagram.custom.ModifyingStoryNodeContribution"
            objectClass="org.storydriven.modeling.diagram.edit.parts.ModifyingStoryNodeEditPart">
         <action
               class="org.storydriven.modeling.diagram.custom.edit.commands.ModifyingStoryNodeToggleCommand"
               id="org.storydriven.modeling.diagram.custom.ModifyingStoryNodeToggleFlowCommand"
               label="Toggle Modifying/Matching"
               tooltip="This will toggle they isKey Attribute of the Attribute.">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.storydriven.modeling.diagram.custom.MatchingStoryNodeContribution"
            objectClass="org.storydriven.modeling.diagram.edit.parts.MatchingStoryNodeEditPart">
         <action
               class="org.storydriven.modeling.diagram.custom.edit.commands.MatchingStoryNodeToggleForEachCommand"
               id="org.storydriven.modeling.diagram.custom.MatchingStoryNodeToogleForEachCommand"
               label="Toggle forEach"
               tooltip="This will toggle the for each attribute of the story node.">
         </action>
      </objectContribution>
   </extension>

</plugin>
