<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="expressionSourceViewerExtension" name="Expression Source Viewer Extension" schema="schema/expressionSourceViewerExtension.exsd"/>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="org.storydriven.modeling.diagram.custom.providers.CustomSDMEditPartProvider">
         <Priority
               name="Low">
         </Priority>
      </editpartProvider>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.storydriven.modeling.diagram.custom.StopNodeContribution"
            objectClass="org.storydriven.modeling.diagram.edit.parts.StopNodeEditPart">
         <action
               class="org.storydriven.modeling.diagram.custom.edit.commands.StopNodeToggleFlowCommand"
               id="org.storydriven.modeling.diagram.custom.StopNodeToggleFlowCommand"
               label="Toggle end flow Attribute"
               tooltip="This will toggle they isKey Attribute of the Attribute.">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.storydriven.modeling.diagram.custom.ModifyingStoryNodeContribution"
            objectClass="org.storydriven.modeling.diagram.edit.parts.ModifyingStoryNodeEditPart">
         <action
               class="org.storydriven.modeling.diagram.custom.edit.commands.ModifyingStoryNodeToggleMatchingCommand"
               id="org.storydriven.modeling.diagram.custom.ModifyingStoryNodeConvertToMatching"
               label="Toggle Modifying/Matching"
               tooltip="This will toggle whether the storynode is matching or modifying">
         </action>
         <action
               class="org.storydriven.modeling.diagram.custom.edit.commands.StoryNodeToggleForEachCommand"
               id="org.storydriven.modeling.diagram.custom.ModifyingStoryNodeToogleForEachCommand"
               label="Toggle forEach"
               tooltip="This will toggle the for each attribute of the story node.">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.storydriven.modeling.diagram.custom.MatchingStoryNodeContribution"
            objectClass="org.storydriven.modeling.diagram.edit.parts.MatchingStoryNodeEditPart">
         <action
               class="org.storydriven.modeling.diagram.custom.edit.commands.StoryNodeToggleForEachCommand"
               id="org.storydriven.modeling.diagram.custom.MatchingStoryNodeToogleForEachCommand"
               label="Toggle forEach"
               tooltip="This will toggle the for each attribute of the story node.">
         </action>
         <action
               class="org.storydriven.modeling.diagram.custom.edit.commands.MatchingStoryNodeToggleModifyingCommand"
               id="org.storydriven.modeling.diagram.custom.MatchingStoryNodeConvertToModifying"
               label="Toggle Modifying/Matching"
               tooltip="This will toggle whether the storynode is matching or modifying">
         </action>
      </objectContribution>
   </extension>

</plugin>
