<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>

   <extension-point id="expressionSourceViewerExtension" name="Expression Source Viewer Extension" schema="schema/expressionSourceViewerExtension.exsd"/>

    <extension point="de.fujaba.modelinstance.modelelementcategory">
      <category
            key="org.storydriven.storydiagrams.category"
            name="storydiagrams">
         <child
               class="InitialNode"
               packageNsUri="http://www.storydriven.org/storydiagrams/activities/0.2.0">
         </child>
         <child
               class="ActivityFinalNode"
               packageNsUri="http://www.storydriven.org/storydiagrams/activities/0.2.0">
         </child>
         <child
               class="JunctionNode"
               packageNsUri="http://www.storydriven.org/storydiagrams/activities/0.2.0">
         </child>
         <child
               class="StatementNode"
               packageNsUri="http://www.storydriven.org/storydiagrams/activities/0.2.0">
         </child>
         <child
               class="StructuredNode"
               packageNsUri="http://www.storydriven.org/storydiagrams/activities/0.2.0">
         </child>
         <child
               class="ModifyingStoryNode"
               packageNsUri="http://www.storydriven.org/storydiagrams/activities/0.2.0">
         </child>
      </category>
   </extension>

   <extension point="de.fujaba.newwizard.diagraminformation">
      <editor
            preferencesHint="org.storydriven.storydiagrams.diagram"
            editorId="org.storydriven.storydiagrams.diagram.part.StorydiagramsDiagramEditorID"
            editorName="Story Diagram Editor"
            fileExtension="storydiagrams_diagram"
            modelElementCategoryKey="org.storydriven.storydiagrams.category"
            modelId="Storydiagrams">
         <diagramElement
               packageNsURI="http://www.storydriven.org/storydiagrams/activities/0.2.1"
               className="Activity">
         </diagramElement>
         <topLevelNode
               domainElement="InitialNode"
               semanticHint="2001">
         </topLevelNode>
         <topLevelNode
               domainElement="ActivityFinalNode"
               semanticHint="2002">
         </topLevelNode>
         <topLevelNode
               domainElement="JunctionNode"
               semanticHint="2003">
         </topLevelNode>
         <topLevelNode
               domainElement="StatementNode"
               semanticHint="2004">
         </topLevelNode>
         <topLevelNode
               domainElement="StructuredNode"
               semanticHint="2005">
         </topLevelNode>
         <topLevelNode
               domainElement="ModifyingStoryNode"
               semanticHint="2007">
         </topLevelNode>
         <topLevelNode
               domainElement="TextualExpression"
               semanticHint="3015">
         </topLevelNode>
         <topLevelNode
               domainElement="JunctionNode"
               semanticHint="3001">
         </topLevelNode>
         <topLevelNode
               domainElement="InitialNode"
               semanticHint="3002">
         </topLevelNode>
         <topLevelNode
               domainElement="ActivityFinalNode"
               semanticHint="3004">
         </topLevelNode>
         <topLevelNode
               domainElement="StatementNode"
               semanticHint="3003">
         </topLevelNode>
         <topLevelNode
               domainElement="StructuredNode"
               semanticHint="3005">
         </topLevelNode>
         <topLevelNode
               domainElement="ModifyingStoryNode"
               semanticHint="3011">
         </topLevelNode>
         <topLevelNode
               domainElement="StoryPattern"
               semanticHint="3008">
         </topLevelNode>
         <topLevelNode
               domainElement="ObjectVariable"
               semanticHint="3012">
         </topLevelNode>
         <topLevelNode
               domainElement="AttributeAssignment"
               semanticHint="3013">
         </topLevelNode>
         <topLevelNode
               domainElement="PrimitiveVariable"
               semanticHint="3014">
         </topLevelNode>
      </editor>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="org.storydriven.storydiagrams.diagram.custom.providers.CustomStorydiagramsEditPartProvider">
         <Priority
               name="Medium">
         </Priority>
      </editpartProvider>
   </extension>
   
	<extension point="org.eclipse.gmf.runtime.diagram.ui.layoutProviders">
		<layoutProvider class="org.eclipse.gmf.runtime.diagram.ui.providers.TopDownProvider">
			<Priority name="High"></Priority>
		</layoutProvider>
	</extension> 

    <extension point="org.eclipse.ui.commands">
		<command
			categoryId="de.fujaba"
			description="Initialize Story Diagram"
			defaultHandler="org.storydriven.storydiagrams.diagram.custom.part.SDMFujabaDiagramFileAction"
			id="org.storydriven.storydiagrams.diagram.createDiagram"
			name="%initDiagramActionLabel">
		</command>
	</extension>

   <extension id="creation-wizard" point="org.eclipse.ui.newWizards">
      <wizard
            category="de.fujaba/de.fujaba.diagrams"
            class="org.storydriven.storydiagrams.diagram.custom.part.CustomActivityDiagramCreationWizard"
            id="de.uni_paderborn.fujaba.muml.atomiccomponenteditor.diagram.custom.part.CustomAtomiccomponentDiagramCreationWizard"
            name="Activity Diagram">
         <description>
            Creates a new Activity Diagram.
         </description>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.storydriven.storydiagrams.diagram.custom.ActivityFinalNodeContribution"
            objectClass="org.storydriven.storydiagrams.diagram.edit.parts.ActivityFinalNodeEditPart">
         <action
               class="org.storydriven.storydiagrams.diagram.custom.edit.commands.ActivityFinalNodeToggleFlowCommand"
               id="org.storydriven.storydiagrams.diagram.custom.ActivityFinalNodeToggleFlowCommand"
               label="Toggle end flow Attribute"
               tooltip="This will toggle they isKey Attribute of the Attribute.">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.storydriven.storydiagrams.diagram.custom.ModifyingStoryNodeContribution"
            objectClass="org.storydriven.storydiagrams.diagram.edit.parts.ModifyingStoryNodeEditPart">
         <action
               class="org.storydriven.storydiagrams.diagram.custom.edit.commands.StoryNodeToggleForEachCommand"
               id="org.storydriven.storydiagrams.diagram.custom.ModifyingStoryNodeToogleForEachCommand"
               label="Toggle forEach"
               tooltip="This will toggle the for each attribute of the story node.">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.storydriven.storydiagrams.diagram.custom.MatchingStoryNodeContribution"
            objectClass="org.storydriven.storydiagrams.diagram.edit.parts.MatchingStoryNodeEditPart">
         <action
               class="org.storydriven.storydiagrams.diagram.custom.edit.commands.StoryNodeToggleForEachCommand"
               id="org.storydriven.storydiagrams.diagram.custom.MatchingStoryNodeToogleForEachCommand"
               label="Toggle forEach"
               tooltip="This will toggle the for each attribute of the story node.">
         </action>
         <!--
         <action
               class="deprecated.MatchingStoryNodeToggleModifyingCommand"
               id="org.storydriven.storydiagrams.diagram.custom.MatchingStoryNodeConvertToModifying"
               label="Toggle Modifying/Matching"
               tooltip="This will toggle whether the storynode is matching or modifying">
         </action>
         -->
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.storydriven.storydiagrams.diagram.custom.expressions.OpenExpressionsDialog"
            objectClass="org.storydriven.storydiagrams.diagram.edit.parts.ObjectVariableEditPart">
         <action
               class="org.storydriven.storydiagrams.diagram.custom.EditExpressionWithDialogAction"
               id="org.storydriven.storydiagrams.diagram.custom.expressions.OpenExpressionsDialog"
               label="Edit Expressions"
               tooltip="This will toggle whether the storynode is matching or modifying">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.storydriven.storydiagrams.diagram.custom.expressions.OpenExpressionsDialogForAttributeAssignment"
            objectClass="org.storydriven.storydiagrams.diagram.edit.parts.AttributeAssignmentEditPart">
         <action
               class="org.storydriven.storydiagrams.diagram.custom.EditAttributeAssignmentWithDialogAction"
               id="org.storydriven.storydiagrams.diagram.custom.expressions.OpenExpressionsDialogForAttributeAssignment"
               label="Edit Attribute Assignment"
               tooltip="This will toggle whether the storynode is matching or modifying">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.storydriven.storydiagrams.diagram.custom.ActivityEdgeGuardContribution"
            objectClass="org.storydriven.storydiagrams.diagram.edit.parts.ActivityEdgeEditPart">
         <menu
               id="ActivityEdgeGuardMenu"
               label="Activity Edge Guard">
            <separator
                  name="GuardGroup">
            </separator>
         </menu>
         <action
               class="org.storydriven.storydiagrams.diagram.custom.edit.commands.SetActivityEdgeGuardTypeAction"
               id="org.storydriven.storydiagrams.diagram.custom.ActicityEdgeGuardMenuEntry.FINALLY"
               label="finally"
               menubarPath="ActivityEdgeGuardMenu/GuardGroup"
               style="radio"
               tooltip="This will toggle they isKey Attribute of the Attribute.">
         </action>
         <action
               class="org.storydriven.storydiagrams.diagram.custom.edit.commands.SetActivityEdgeGuardTypeAction"
               id="org.storydriven.storydiagrams.diagram.custom.ActicityEdgeGuardMenuEntry.BOOL"
               label="bool"
               menubarPath="ActivityEdgeGuardMenu/GuardGroup"
               style="radio"
               tooltip="This will toggle they isKey Attribute of the Attribute.">
         </action>
         <action
               class="org.storydriven.storydiagrams.diagram.custom.edit.commands.SetActivityEdgeGuardTypeAction"
               id="org.storydriven.storydiagrams.diagram.custom.ActicityEdgeGuardMenuEntry.END"
               label="end"
               menubarPath="ActivityEdgeGuardMenu/GuardGroup"
               style="radio"
               tooltip="This will toggle they isKey Attribute of the Attribute.">
         </action>
         <action
               class="org.storydriven.storydiagrams.diagram.custom.edit.commands.SetActivityEdgeGuardTypeAction"
               id="org.storydriven.storydiagrams.diagram.custom.ActicityEdgeGuardMenuEntry.FAILURE"
               label="failure"
               menubarPath="ActivityEdgeGuardMenu/GuardGroup"
               style="radio"
               tooltip="This will toggle they isKey Attribute of the Attribute.">
         </action>
         <action
               class="org.storydriven.storydiagrams.diagram.custom.edit.commands.SetActivityEdgeGuardTypeAction"
               id="org.storydriven.storydiagrams.diagram.custom.ActicityEdgeGuardMenuEntry.EACH_TIME"
               label="each time"
               menubarPath="ActivityEdgeGuardMenu/GuardGroup"
               style="radio"
               tooltip="This will toggle they isKey Attribute of the Attribute.">
         </action>
         <action
               class="org.storydriven.storydiagrams.diagram.custom.edit.commands.SetActivityEdgeGuardTypeAction"
               id="org.storydriven.storydiagrams.diagram.custom.ActicityEdgeGuardMenuEntry.SUCCESS"
               label="success"
               menubarPath="ActivityEdgeGuardMenu/GuardGroup"
               style="radio"
               tooltip="This will toggle they isKey Attribute of the Attribute.">
         </action>
         <action
               class="org.storydriven.storydiagrams.diagram.custom.edit.commands.SetActivityEdgeGuardTypeAction"
               id="org.storydriven.storydiagrams.diagram.custom.ActicityEdgeGuardMenuEntry.NONE"
               label="none"
               menubarPath="ActivityEdgeGuardMenu/GuardGroup"
               style="radio"
               tooltip="This will toggle they isKey Attribute of the Attribute.">
         </action>
         <action
               class="org.storydriven.storydiagrams.diagram.custom.edit.commands.SetActivityEdgeGuardTypeAction"
               id="org.storydriven.storydiagrams.diagram.custom.ActicityEdgeGuardMenuEntry.ELSE"
               label="else"
               menubarPath="ActivityEdgeGuardMenu/GuardGroup"
               style="radio"
               tooltip="This will toggle they isKey Attribute of the Attribute.">
         </action>
         <action
               class="org.storydriven.storydiagrams.diagram.custom.edit.commands.SetActivityEdgeGuardTypeAction"
               id="org.storydriven.storydiagrams.diagram.custom.ActicityEdgeGuardMenuEntry.EXCEPTION"
               label="exception"
               menubarPath="ActivityEdgeGuardMenu/GuardGroup"
               style="radio"
               tooltip="This will toggle they isKey Attribute of the Attribute.">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.storydriven.storydiagrams.diagram.custom.ActivityEdgeGuardExpressionContribution"
            objectClass="org.storydriven.storydiagrams.diagram.edit.parts.ActivityEdgeEditPart">
         <action
               class="org.storydriven.storydiagrams.diagram.custom.EditActivityEdgeGuardExpressionWithDialogAction"
               id="org.storydriven.storydiagrams.diagram.custom.ActicityEdgeGuardExpressionEdit"
               label="Edit Guard Expression"
               tooltip="This will toggle they isKey Attribute of the Attribute.">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.storydriven.storydiagrams.diagram.custom.StatementNodeEditExpression"
            objectClass="org.storydriven.storydiagrams.diagram.edit.parts.StatementNodeEditPart">
         <action
               class="org.storydriven.storydiagrams.diagram.custom.EditStatementExpressionWithDialogAction"
               id="org.storydriven.storydiagrams.diagram.custom.StatementNodeEditExpression"
               label="Edit Statement Expression"
               tooltip="This will toggle they isKey Attribute of the Attribute.">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.storydriven.storydiagrams.diagram.custom.expressions.ActivityFinalNodeReturnExpression"
            objectClass="org.storydriven.storydiagrams.diagram.edit.parts.ActivityFinalNodeEditPart">
         <action
               class="org.storydriven.storydiagrams.diagram.custom.EditActivityFinalNodeReturnExpressionAction"
               id="org.storydriven.storydiagrams.diagram.custom.expressions.EditActivityFinalNodeReturnExpression"
               label="Edit Return Value Expression"
               tooltip="This will toggle whether the storynode is matching or modifying">
         </action>
      </objectContribution>
   </extension>

    <extension point="org.eclipse.ui.menus">
	   <menuContribution
	         allPopups="false"
	         locationURI="popup:de.fujaba?after=additions">
	      <command
             commandId="org.storydriven.storydiagrams.diagram.createDiagram"
             icon="icons/files/sdm_diagram.png"
             id="org.storydriven.storydiagrams.diagram.createDiagram"
             label="%initDiagramActionLabel"
             style="push">
	         <visibleWhen
	               checkEnabled="false">
	            <reference
	                  definitionId="de.fujaba.expression.fujabafile">
	            </reference>
	         </visibleWhen>
	      </command>
	   </menuContribution>
	</extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.storydriven.storydiagrams.diagram"
            labelProvider="org.storydriven.storydiagrams.diagram.custom.properties.StorydiagramsPropertiesLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory
               category="diagram">
         </propertyCategory>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="org.storydriven.storydiagrams.diagram">
          <propertyTab
             category="domain"
             id="general"
             label="General"/>
          <propertyTab
                afterTab="general"
                category="domain"
                id="types"
                label="Type Model"/>
          <propertyTab
                afterTab="types"
                category="domain"
                id="documentation"
                label="Documentation"/>
      </propertyTabs>
   </extension>

   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.storydriven.storydiagrams.diagram">
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.NamedElementNameSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.ActivityFilter"
               id="Activity.name"
               tab="general">
         </propertySection>
         <propertySection
               afterSection="Activity.name"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.ActivityPreconditionSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.ActivityFilter"
               id="Activity.precondition"
               tab="general">
         </propertySection>
         <propertySection
               afterSection="Activity.precondition"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.ActivityParametersSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.ActivityFilter"
               id="Activity.parameters"
               tab="general">
         </propertySection>
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.ActivityTypeModelSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.ActivityFilter"
               id="Activity.typeModel"
               tab="types">
         </propertySection>
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.CommentableElementCommentSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.ActivityFilter"
               id="Activity.comment"
               tab="documentation">
         </propertySection>
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.NamedElementNameSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.ActivityCallNodeFilter"
               id="ActivityCallNode.name"
               tab="general">
         </propertySection>
         <propertySection
               afterSection="ActivityCallNode.name"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.ActivityCallNodeCalleeSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.ActivityCallNodeFilter"
               id="ActivityCallNode.callee"
               tab="general">
         </propertySection>
         <propertySection
               afterSection="ActivityCallNode.callee"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.ActivityCallNodeInArgumentsSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.ActivityCallNodeFilter"
               id="ActivityCallNode.in"
               tab="general">
         </propertySection>
         <propertySection
               afterSection="ActivityCallNode.in"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.ActivityCallNodeOutArgumentsSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.ActivityCallNodeFilter"
               id="ActivityCallNode.out"
               tab="general">
         </propertySection>
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.CommentableElementCommentSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.ActivityCallNodeFilter"
               id="ActivityCallNode.comment"
               tab="documentation">
         </propertySection>
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.NamedElementNameSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.StoryNodeFilter"
               id="StoryNode.name"
               tab="general">
         </propertySection>
         <propertySection
               afterSection="StoryNode.name"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.StoryNodeBindingSemanticsSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.StoryNodeFilter"
               id="StoryNode.bindingSemantics"
               tab="general">
         </propertySection>
         <propertySection
               afterSection="StoryNode.bindingSemantics"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.StoryNodeForEachSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.StoryNodeFilter"
               id="StoryNode.forEach"
               tab="general">
         </propertySection>
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.CommentableElementCommentSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.StoryNodeFilter"
               id="StoryNode.comment"
               tab="documentation">
         </propertySection>
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.NamedElementNameSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.StatementNodeFilter"
               id="StatementNode.name"
               tab="general">
         </propertySection>
         <propertySection
               afterSection="StatementNode.name"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.StatementNodeExpressionSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.StatementNodeFilter"
               id="StatementNode.expression"
               tab="general">
         </propertySection>
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.CommentableElementCommentSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.StatementNodeFilter"
               id="StatementNode.comment"
               tab="documentation">
         </propertySection>
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.NamedElementNameSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.StructuredNodeFilter"
               id="StructuredNode.name"
               tab="general">
         </propertySection>
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.CommentableElementCommentSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.StructuredNodeFilter"
               id="StructuredNode.comment"
               tab="documentation">
         </propertySection>
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.NamedElementNameSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.InitialNodeFilter"
               id="InitialNode.name"
               tab="documentation">
         </propertySection>
         <propertySection
               afterSection="InitialNode.name"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.CommentableElementCommentSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.InitialNodeFilter"
               id="InitialNode.comment"
               tab="documentation">
         </propertySection>
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.NamedElementNameSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.JunctionNodeFilter"
               id="JunctionNode.name"
               tab="documentation">
         </propertySection>
         <propertySection
               afterSection="JunctionNode.name"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.CommentableElementCommentSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.JunctionNodeFilter"
               id="JunctionNode.comment"
               tab="documentation">
         </propertySection>
         <propertySection
               afterSection="ActivityFinalNode.flowOnly"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.ActivityFinalNodeExpressionSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.ActivityFinalNodeFilter"
               id="ActivityFinalNode.expression"
               tab="general">
         </propertySection>
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.NamedElementNameSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.ActivityFinalNodeFilter"
               id="ActivityFinalNode.name"
               tab="documentation">
         </propertySection>
         <propertySection
               afterSection="ActivityFinalNode.name"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.CommentableElementCommentSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.ActivityFinalNodeFilter"
               id="ActivityFinalNode.comment"
               tab="documentation">
         </propertySection>
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.ActivityEdgeEdgeGuardSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.ActivityEdgeFilter"
               id="ActivityEdge.guard"
               tab="general">
         </propertySection>
         <propertySection
               afterSection="ActivityEdge.guard"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.ActivityEdgeGuardExpressionSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.ActivityEdgeFilter"
               id="ActivityEdge.expression"
               tab="general">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.storydriven.storydiagrams.diagram">
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.NamedElementNameSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.ObjectVariableFilter"
               id="ObjectVariable.name"
               tab="general">
         </propertySection>
         <propertySection
               afterSection="ObjectVariable.name"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.ObjectVariableClassifierSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.ObjectVariableFilter"
               id="ObjectVariable.classifier"
               tab="general">
         </propertySection>
         <propertySection
               afterSection="ObjectVariable.classifier"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.ObjectVariableBindingSemanticsSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.ObjectVariableFilter"
               id="ObjectVariable.bindingSemantics"
               tab="general">
         </propertySection>
         <propertySection
               afterSection="ObjectVariable.classifier"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.AbstractVariableBindingStateSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.ObjectVariableFilter"
               id="ObjectVariable.bindingState"
               tab="general">
         </propertySection>
         <propertySection
               afterSection="ObjectVariable.bindingSemantics"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.ObjectVariableBindingOperatorSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.ObjectVariableFilter"
               id="ObjectVariable.bindingOperator"
               tab="general">
         </propertySection>
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.NamedElementNameSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.PrimitiveVariableFilter"
               id="PrimitiveVariable.name"
               tab="general">
         </propertySection>
         <propertySection
               afterSection="PrimitiveVariable.name"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.PrimitiveVariableClassifierSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.PrimitiveVariableFilter"
               id="PrimitiveVariable.classifier"
               tab="general">
         </propertySection>
         <propertySection
               afterSection="PrimitiveVariable.classifier"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.AbstractVariableBindingStateSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.PrimitiveVariableFilter"
               id="PrimitiveVariable.bindingState"
               tab="general">
         </propertySection>
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.LinkVariableTargetEndSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.LinkVariableFilter"
               id="LinkVariable.targetEnd"
               tab="general">
         </propertySection>
         <propertySection
               afterSection="LinkVariable.targetEnd"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.AbstractLinkVariableBindingSemanticsSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.LinkVariableFilter"
               id="LinkVariable.bindingSemantics"
               tab="general">
         </propertySection>
         <propertySection
               afterSection="LinkVariable.bindingSemantics"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.AbstractLinkVariableBindingOperatorSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.LinkVariableFilter"
               id="LinkVariable.bindingOperator"
               tab="general">
         </propertySection>
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.AbstractLinkVariableBindingSemanticsSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.InclusionLinkFilter"
               id="InclusionLink.bindingSemantics"
               tab="general">
         </propertySection>
         <propertySection
               afterSection="InclusionLink.bindingSemantics"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.AbstractLinkVariableBindingOperatorSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.InclusionLinkFilter"
               id="InclusionLink.bindingOperator"
               tab="general">
         </propertySection>
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.AbstractLinkVariableBindingSemanticsSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.PathFilter"
               id="Path.bindingSemantics"
               tab="general">
         </propertySection>
         <propertySection
               afterSection="Path.bindingSemantics"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.AbstractLinkVariableBindingOperatorSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.PathFilter"
               id="Path.bindingOperator"
               tab="general">
         </propertySection>
         <propertySection
               afterSection="Path.bindingOperator"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.PathExpressionSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.PathFilter"
               id="Path.expression"
               tab="general">
         </propertySection>
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.AttributeAssignmentAttributeSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.AttributeAssignmentFilter"
               id="AttributeAssignment.attribute"
               tab="general">
         </propertySection>
         <propertySection
               afterSection="AttributeAssignment.attribute"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.AttributeAssignmentExpressionSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.AttributeAssignmentFilter"
               id="AttributeAssignment.expression"
               tab="general">
         </propertySection>
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.ConstraintExpressionSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.ConstraintFilter"
               id="Constraint.expression"
               tab="general">
         </propertySection>
      </propertySections>
   </extension>
</plugin>
