<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>

   <extension-point id="expressionSourceViewerExtension" name="Expression Source Viewer Extension" schema="schema/expressionSourceViewerExtension.exsd"/>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="org.storydriven.storydiagrams.diagram.custom.providers.CustomSDMEditPartProvider">
         <Priority
               name="Low">
         </Priority>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.storydriven.storydiagrams.diagram.custom.StopNodeContribution"
            objectClass="org.storydriven.storydiagrams.diagram.edit.parts.StopNodeEditPart">
         <action
               class="org.storydriven.storydiagrams.diagram.custom.edit.commands.StopNodeToggleFlowCommand"
               id="org.storydriven.storydiagrams.diagram.custom.StopNodeToggleFlowCommand"
               label="Toggle end flow Attribute"
               tooltip="This will toggle they isKey Attribute of the Attribute.">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.storydriven.storydiagrams.diagram.custom.ModifyingStoryNodeContribution"
            objectClass="org.storydriven.storydiagrams.diagram.edit.parts.ModifyingStoryNodeEditPart">
         <action
               class="org.storydriven.storydiagrams.diagram.custom.edit.commands.StoryNodeToggleForEachCommand"
               id="org.storydriven.storydiagrams.diagram.custom.ModifyingStoryNodeToogleForEachCommand"
               label="Toggle forEach"
               tooltip="This will toggle the for each attribute of the story node.">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.storydriven.storydiagrams.diagram.custom.MatchingStoryNodeContribution"
            objectClass="org.storydriven.storydiagrams.diagram.edit.parts.MatchingStoryNodeEditPart">
         <action
               class="org.storydriven.storydiagrams.diagram.custom.edit.commands.StoryNodeToggleForEachCommand"
               id="org.storydriven.storydiagrams.diagram.custom.MatchingStoryNodeToogleForEachCommand"
               label="Toggle forEach"
               tooltip="This will toggle the for each attribute of the story node.">
         </action>
         <!--
         <action
               class="deprecated.MatchingStoryNodeToggleModifyingCommand"
               id="org.storydriven.storydiagrams.diagram.custom.MatchingStoryNodeConvertToModifying"
               label="Toggle Modifying/Matching"
               tooltip="This will toggle whether the storynode is matching or modifying">
         </action>
         -->
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.storydriven.storydiagrams.diagram.custom.expressions.OpenExpressionsDialog"
            objectClass="org.storydriven.storydiagrams.diagram.edit.parts.ObjectVariableEditPart">
         <action
               class="org.storydriven.storydiagrams.diagram.custom.EditExpressionWithDialogAction"
               id="org.storydriven.storydiagrams.diagram.custom.expressions.OpenExpressionsDialog"
               label="Edit Expressions"
               tooltip="This will toggle whether the storynode is matching or modifying">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.storydriven.storydiagrams.diagram.custom.expressions.OpenExpressionsDialogForAttributeAssignment"
            objectClass="org.storydriven.storydiagrams.diagram.edit.parts.AttributeAssignmentEditPart">
         <action
               class="org.storydriven.storydiagrams.diagram.custom.EditAttributeAssignmentWithDialogAction"
               id="org.storydriven.storydiagrams.diagram.custom.expressions.OpenExpressionsDialogForAttributeAssignment"
               label="Edit Attribute Assignment"
               tooltip="This will toggle whether the storynode is matching or modifying">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.storydriven.storydiagrams.diagram.custom.ActivityEdgeGuardContribution"
            objectClass="org.storydriven.storydiagrams.diagram.edit.parts.ActivityEdgeEditPart">
         <menu
               id="ActivityEdgeGuardMenu"
               label="Activity Edge Guard">
            <separator
                  name="GuardGroup">
            </separator>
         </menu>
         <action
               class="org.storydriven.storydiagrams.diagram.custom.edit.commands.SetActivityEdgeGuardTypeAction"
               id="org.storydriven.storydiagrams.diagram.custom.ActicityEdgeGuardMenuEntry.FINALLY"
               label="finally"
               menubarPath="ActivityEdgeGuardMenu/GuardGroup"
               style="radio"
               tooltip="This will toggle they isKey Attribute of the Attribute.">
         </action>
         <action
               class="org.storydriven.storydiagrams.diagram.custom.edit.commands.SetActivityEdgeGuardTypeAction"
               id="org.storydriven.storydiagrams.diagram.custom.ActicityEdgeGuardMenuEntry.BOOL"
               label="bool"
               menubarPath="ActivityEdgeGuardMenu/GuardGroup"
               style="radio"
               tooltip="This will toggle they isKey Attribute of the Attribute.">
         </action>
         <action
               class="org.storydriven.storydiagrams.diagram.custom.edit.commands.SetActivityEdgeGuardTypeAction"
               id="org.storydriven.storydiagrams.diagram.custom.ActicityEdgeGuardMenuEntry.END"
               label="end"
               menubarPath="ActivityEdgeGuardMenu/GuardGroup"
               style="radio"
               tooltip="This will toggle they isKey Attribute of the Attribute.">
         </action>
         <action
               class="org.storydriven.storydiagrams.diagram.custom.edit.commands.SetActivityEdgeGuardTypeAction"
               id="org.storydriven.storydiagrams.diagram.custom.ActicityEdgeGuardMenuEntry.FAILURE"
               label="failure"
               menubarPath="ActivityEdgeGuardMenu/GuardGroup"
               style="radio"
               tooltip="This will toggle they isKey Attribute of the Attribute.">
         </action>
         <action
               class="org.storydriven.storydiagrams.diagram.custom.edit.commands.SetActivityEdgeGuardTypeAction"
               id="org.storydriven.storydiagrams.diagram.custom.ActicityEdgeGuardMenuEntry.EACH_TIME"
               label="each time"
               menubarPath="ActivityEdgeGuardMenu/GuardGroup"
               style="radio"
               tooltip="This will toggle they isKey Attribute of the Attribute.">
         </action>
         <action
               class="org.storydriven.storydiagrams.diagram.custom.edit.commands.SetActivityEdgeGuardTypeAction"
               id="org.storydriven.storydiagrams.diagram.custom.ActicityEdgeGuardMenuEntry.SUCCESS"
               label="success"
               menubarPath="ActivityEdgeGuardMenu/GuardGroup"
               style="radio"
               tooltip="This will toggle they isKey Attribute of the Attribute.">
         </action>
         <action
               class="org.storydriven.storydiagrams.diagram.custom.edit.commands.SetActivityEdgeGuardTypeAction"
               id="org.storydriven.storydiagrams.diagram.custom.ActicityEdgeGuardMenuEntry.NONE"
               label="none"
               menubarPath="ActivityEdgeGuardMenu/GuardGroup"
               style="radio"
               tooltip="This will toggle they isKey Attribute of the Attribute.">
         </action>
         <action
               class="org.storydriven.storydiagrams.diagram.custom.edit.commands.SetActivityEdgeGuardTypeAction"
               id="org.storydriven.storydiagrams.diagram.custom.ActicityEdgeGuardMenuEntry.ELSE"
               label="else"
               menubarPath="ActivityEdgeGuardMenu/GuardGroup"
               style="radio"
               tooltip="This will toggle they isKey Attribute of the Attribute.">
         </action>
         <action
               class="org.storydriven.storydiagrams.diagram.custom.edit.commands.SetActivityEdgeGuardTypeAction"
               id="org.storydriven.storydiagrams.diagram.custom.ActicityEdgeGuardMenuEntry.EXCEPTION"
               label="exception"
               menubarPath="ActivityEdgeGuardMenu/GuardGroup"
               style="radio"
               tooltip="This will toggle they isKey Attribute of the Attribute.">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.storydriven.storydiagrams.diagram.custom.ActivityEdgeGuardExpressionContribution"
            objectClass="org.storydriven.storydiagrams.diagram.edit.parts.ActivityEdgeEditPart">
         <action
               class="org.storydriven.storydiagrams.diagram.custom.EditActivityEdgeGuardExpressionWithDialogAction"
               id="org.storydriven.storydiagrams.diagram.custom.ActicityEdgeGuardExpressionEdit"
               label="Edit Guard Expression"
               tooltip="This will toggle they isKey Attribute of the Attribute.">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.storydriven.storydiagrams.diagram.custom.StatementNodeEditExpression"
            objectClass="org.storydriven.storydiagrams.diagram.edit.parts.StatementNodeEditPart">
         <action
               class="org.storydriven.storydiagrams.diagram.custom.EditStatementExpressionWithDialogAction"
               id="org.storydriven.storydiagrams.diagram.custom.StatementNodeEditExpression"
               label="Edit Statement Expression"
               tooltip="This will toggle they isKey Attribute of the Attribute.">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.storydriven.storydiagrams.diagram.custom.expressions.StopNodeReturnExpression"
            objectClass="org.storydriven.storydiagrams.diagram.edit.parts.StopNodeEditPart">
         <action
               class="org.storydriven.storydiagrams.diagram.custom.EditStopNodeReturnExpressionAction"
               id="org.storydriven.storydiagrams.diagram.custom.expressions.EditStopNodeReturnExpression"
               label="Edit Return Value Expression"
               tooltip="This will toggle whether the storynode is matching or modifying">
         </action>
      </objectContribution>
   </extension>

   <extension id="creation-wizard" point="org.eclipse.ui.newWizards">
      <wizard
            category="de.fujaba/de.fujaba.diagrams"
            class="org.storydriven.storydiagrams.diagram.custom.part.CustomActivityDiagramCreationWizard"
            id="de.uni_paderborn.fujaba.muml.atomiccomponenteditor.diagram.custom.part.CustomAtomiccomponentDiagramCreationWizard"
            name="Activity Diagram">
         <description>
            Creates a new Activity Diagram.
         </description>
      </wizard>
   </extension>

    <extension point="org.eclipse.ui.menus">
	   <menuContribution
	         allPopups="false"
	         locationURI="popup:de.fujaba?after=additions">
	      <command
             commandId="org.storydriven.storydiagrams.diagram.createDiagram"
             icon="icons/files/sdm_diagram.png"
             id="org.storydriven.storydiagrams.diagram.createDiagram"
             label="%initDiagramActionLabel"
             style="push">
	         <visibleWhen
	               checkEnabled="false">
	            <reference
	                  definitionId="de.fujaba.expression.fujabafile">
	            </reference>
	         </visibleWhen>
	      </command>
	   </menuContribution>
	</extension>

    <extension point="org.eclipse.ui.commands">
		<command
			categoryId="de.fujaba"
			description="Initialize Story Diagram"
			defaultHandler="org.storydriven.storydiagrams.diagram.custom.part.SDMFujabaDiagramFileAction"
			id="org.storydriven.storydiagrams.diagram.createDiagram"
			name="%initDiagramActionLabel">
		</command>
	</extension>

    <extension point="de.fujaba.modelinstance.modelelementcategory">
      <category
            key="org.storydrivening.activities.category"
            name="activities">
         <child
               class="StartNode"
               packageNsUri="http://www.storydriven.org/storydiagrams/activities/0.2.0">
         </child>
         <child
               class="StopNode"
               packageNsUri="http://www.storydriven.org/storydiagrams/activities/0.2.0">
         </child>
         <child
               class="JunctionNode"
               packageNsUri="http://www.storydriven.org/storydiagrams/activities/0.2.0">
         </child>
         <child
               class="StatementNode"
               packageNsUri="http://www.storydriven.org/storydiagrams/activities/0.2.0">
         </child>
         <child
               class="StructuredNode"
               packageNsUri="http://www.storydriven.org/storydiagrams/activities/0.2.0">
         </child>
         <child
               class="ModifyingStoryNode"
               packageNsUri="http://www.storydriven.org/storydiagrams/activities/0.2.0">
         </child>
      </category>
   </extension>

   <extension point="de.fujaba.newwizard.diagraminformation">
      <editor
            preferencesHint="org.storydriven.storydiagrams.diagram"
            editorId="org.storydriven.storydiagrams.diagram.part.StorydiagramsDiagramEditorID"
            editorName="Story Diagram Editor"
            fileExtension="storydiagrams_diagram"
            modelElementCategoryKey="org.storydriven.activities.category"
            modelId="Storydiagrams">
         <diagramElement
               packageNsURI="http://www.storydriven.org/storydiagrams/activities/0.2.0"
               className="Activity">
         </diagramElement>
         <node
               domainElement="StartNode"
               semanticHint="2001">
         </node>
         <node
               domainElement="StopNode"
               semanticHint="2002">
         </node>
         <node
               domainElement="JunctionNode"
               semanticHint="2003">
         </node>
         <node
               domainElement="StatementNode"
               semanticHint="2004">
         </node>
         <node
               domainElement="StructuredNode"
               semanticHint="2005">
         </node>
         <node
               domainElement="ModifyingStoryNode"
               semanticHint="2007">
         </node>
         <node
               domainElement="TextualExpression"
               semanticHint="3015">
         </node>
         <node
               domainElement="JunctionNode"
               semanticHint="3001">
         </node>
         <node
               domainElement="StartNode"
               semanticHint="3002">
         </node>
         <node
               domainElement="StopNode"
               semanticHint="3004">
         </node>
         <node
               domainElement="StatementNode"
               semanticHint="3003">
         </node>
         <node
               domainElement="StructuredNode"
               semanticHint="3005">
         </node>
         <node
               domainElement="ModifyingStoryNode"
               semanticHint="3011">
         </node>
         <node
               domainElement="StoryPattern"
               semanticHint="3008">
         </node>
         <node
               domainElement="ObjectVariable"
               semanticHint="3012">
         </node>
         <node
               domainElement="AttributeAssignment"
               semanticHint="3013">
         </node>
         <node
               domainElement="PrimitiveVariable"
               semanticHint="3014">
         </node>
      </editor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.storydriven.storydiagrams.diagram"
            labelProvider="org.storydriven.storydiagrams.diagram.custom.properties.StorydiagramsPropertiesLabelProvider">
         <propertyCategory category="default"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="org.storydriven.storydiagrams.diagram">
          <propertyTab
             category="domain"
             id="core"
             label="Core"/>
          <propertyTab
                afterTab="core"
                category="domain"
                id="typeModel"
                label="Type Model"/>
          <propertyTab
                afterTab="resources"
                category="domain"
                id="documentation"
                label="Documentation"/>
      </propertyTabs>
   </extension>

   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.storydriven.storydiagrams.diagram">
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.NamedElementNameSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.ActivityFilter"
               id="Activity.name"
               tab="core">
         </propertySection>
         <propertySection
               afterSection="Activity.name"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.ActivityPreconditionSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.ActivityFilter"
               id="Activity.precondition"
               tab="core">
         </propertySection>
         <propertySection
               afterSection="Activity.precondition"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.ActivityParametersSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.ActivityFilter"
               id="Activity.parameters"
               tab="core">
         </propertySection>
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.ActivityTypeModelSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.ActivityFilter"
               id="Activity.typeModel"
               tab="typeModel">
         </propertySection>
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.CommentableElementCommentSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.ActivityFilter"
               id="Activity.comment"
               tab="documentation">
         </propertySection>
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.NamedElementNameSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.ActivityCallNodeFilter"
               id="ActivityCallNode.name"
               tab="core">
         </propertySection>
         <propertySection
               afterSection="ActivityCallNode.name"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.ActivityCallNodeCalleeSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.ActivityCallNodeFilter"
               id="ActivityCallNode.callee"
               tab="core">
         </propertySection>
         <propertySection
               afterSection="ActivityCallNode.callee"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.ActivityCallNodeArgumentsSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.ActivityCallNodeFilter"
               id="ActivityCallNode.arguments"
               tab="core">
         </propertySection>
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.CommentableElementCommentSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.ActivityCallNodeFilter"
               id="ActivityCallNode.comment"
               tab="documentation">
         </propertySection>
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.NamedElementNameSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.StoryNodeFilter"
               id="StoryNode.name"
               tab="core">
         </propertySection>
         <propertySection
               afterSection="StoryNode.name"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.StoryNodeBindingSemanticsSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.StoryNodeFilter"
               id="StoryNode.bindingSemantics"
               tab="core">
         </propertySection>
         <propertySection
               afterSection="StoryNode.bindingSemantics"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.StoryNodeForEachSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.StoryNodeFilter"
               id="StoryNode.forEach"
               tab="core">
         </propertySection>
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.CommentableElementCommentSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.StoryNodeFilter"
               id="StoryNode.comment"
               tab="documentation">
         </propertySection>
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.NamedElementNameSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.StatementNodeFilter"
               id="StatementNode.name"
               tab="core">
         </propertySection>
         <propertySection
               afterSection="StatementNode.name"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.StatementNodeExpressionSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.StatementNodeFilter"
               id="StatementNode.expression"
               tab="core">
         </propertySection>
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.CommentableElementCommentSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.StatementNodeFilter"
               id="StatementNode.comment"
               tab="documentation">
         </propertySection>
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.NamedElementNameSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.StructuredNodeFilter"
               id="StructuredNode.name"
               tab="core">
         </propertySection>
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.CommentableElementCommentSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.StructuredNodeFilter"
               id="StructuredNode.comment"
               tab="documentation">
         </propertySection>
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.NamedElementNameSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.StartNodeFilter"
               id="StartNode.name"
               tab="documentation">
         </propertySection>
         <propertySection
               afterSection="StartNode.name"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.CommentableElementCommentSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.StartNodeFilter"
               id="StartNode.comment"
               tab="documentation">
         </propertySection>
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.NamedElementNameSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.JunctionNodeFilter"
               id="JunctionNode.name"
               tab="documentation">
         </propertySection>
         <propertySection
               afterSection="JunctionNode.name"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.CommentableElementCommentSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.JunctionNodeFilter"
               id="JunctionNode.comment"
               tab="documentation">
         </propertySection>
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.StopNodeFlowStopOnlySection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.StopNodeFilter"
               id="StopNode.flowOnly"
               tab="core">
         </propertySection>
         <propertySection
               afterSection="StopNode.flowOnly"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.StopNodeExpressionSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.StopNodeFilter"
               id="StopNode.expression"
               tab="core">
         </propertySection>
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.NamedElementNameSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.StopNodeFilter"
               id="StopNode.name"
               tab="documentation">
         </propertySection>
         <propertySection
               afterSection="StopNode.name"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.CommentableElementCommentSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.StopNodeFilter"
               id="StopNode.comment"
               tab="documentation">
         </propertySection>
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.ActivityEdgeEdgeGuardSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.ActivityEdgeFilter"
               id="ActivityEdge.guard"
               tab="core">
         </propertySection>
         <propertySection
               afterSection="ActivityEdge.guard"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.ActivityEdgeGuardExpression"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.ActivityEdgeFilter"
               id="ActivityEdge.expression"
               tab="core">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.storydriven.storydiagrams.diagram">
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.NamedElementNameSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.ObjectVariableFilter"
               id="ObjectVariable.name"
               tab="core">
         </propertySection>
         <propertySection
               afterSection="ObjectVariable.name"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.ObjectVariableClassifierSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.ObjectVariableFilter"
               id="ObjectVariable.classifier"
               tab="core">
         </propertySection>
         <propertySection
               afterSection="ObjectVariable.classifier"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.ObjectVariableBindingSemanticsSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.ObjectVariableFilter"
               id="ObjectVariable.bindingSemantics"
               tab="core">
         </propertySection>
         <propertySection
               afterSection="ObjectVariable.classifier"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.AbstractVariableBindingStateSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.ObjectVariableFilter"
               id="ObjectVariable.bindingState"
               tab="core">
         </propertySection>
         <propertySection
               afterSection="ObjectVariable.bindingSemantics"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.ObjectVariableBindingOperatorSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.ObjectVariableFilter"
               id="ObjectVariable.bindingOperator"
               tab="core">
         </propertySection>
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.NamedElementNameSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.PrimitiveVariableFilter"
               id="PrimitiveVariable.name"
               tab="core">
         </propertySection>
         <propertySection
               afterSection="PrimitiveVariable.name"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.PrimitiveVariableClassifierSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.PrimitiveVariableFilter"
               id="PrimitiveVariable.classifier"
               tab="core">
         </propertySection>
         <propertySection
               afterSection="PrimitiveVariable.classifier"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.AbstractVariableBindingStateSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.PrimitiveVariableFilter"
               id="PrimitiveVariable.bindingState"
               tab="core">
         </propertySection>
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.LinkVariableTargetEndSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.LinkVariableFilter"
               id="LinkVariable.targetEnd"
               tab="core">
         </propertySection>
         <propertySection
               afterSection="LinkVariable.targetEnd"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.AbstractLinkVariableBindingSemanticsSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.LinkVariableFilter"
               id="LinkVariable.bindingSemantics"
               tab="core">
         </propertySection>
         <propertySection
               afterSection="LinkVariable.bindingSemantics"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.AbstractLinkVariableBindingOperatorSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.LinkVariableFilter"
               id="LinkVariable.bindingOperator"
               tab="core">
         </propertySection>
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.AbstractLinkVariableBindingSemanticsSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.ContainmentRelationFilter"
               id="ContainmentRelation.bindingSemantics"
               tab="core">
         </propertySection>
         <propertySection
               afterSection="ContainmentRelation.bindingSemantics"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.AbstractLinkVariableBindingOperatorSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.ContainmentRelationFilter"
               id="ContainmentRelation.bindingOperator"
               tab="core">
         </propertySection>
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.AbstractLinkVariableBindingSemanticsSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.PathFilter"
               id="Path.bindingSemantics"
               tab="core">
         </propertySection>
         <propertySection
               afterSection="Path.bindingSemantics"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.AbstractLinkVariableBindingOperatorSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.PathFilter"
               id="Path.bindingOperator"
               tab="core">
         </propertySection>
         <propertySection
               afterSection="Path.bindingOperator"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.PathExpressionSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.PathFilter"
               id="Path.expression"
               tab="core">
         </propertySection>
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.AttributeAssignmentAttributeSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.AttributeAssignmentFilter"
               id="AttributeAssignment.attribute"
               tab="core">
         </propertySection>
         <propertySection
               afterSection="AttributeAssignment.attribute"
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.AttributeAssignmentExpressionSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.AttributeAssignmentFilter"
               id="AttributeAssignment.expression"
               tab="core">
         </propertySection>
         <propertySection
               class="org.storydriven.storydiagrams.diagram.custom.properties.sections.ConstraintExpressionSection"
               filter="org.storydriven.storydiagrams.diagram.custom.properties.filters.ConstraintFilter"
               id="Constraint.expression"
               tab="core">
         </propertySection>
      </propertySections>
   </extension>
</plugin>
